# Exclure absolument tous les fichiers/dossiers
/*
/grid/__pycache__
/grid/PFE*

# Parmi les fichiers/dossiers exclus, autoriser les suivants:
!/.gitignore
!/README.md
!/grid
!/LiDAR_TER
!requirements.txt
