# Exclure absolument tous les fichiers/dossiers
LiDAR_TER/donneesLiDAR.csv
/grid/__pycache__
PFE.gpkg
grid/poly.gpkg
Points_UE_Duchesnay/
extract_mp_id.ipynb
result.csv
.jupyter/
/grid/.ipynb_checkpoints